*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    padding: 40px 0px;
    background: linear-gradient(to top, slategray, darkslategray);
}
.linklist
{
    padding: 0px 0px 15px 0px;
}
.linkbar
{
    padding: 25px 10px;
    background-color:slategray;

    border-width: 0px;
    border-bottom: thick;

    border-style:ridge;
    border-color:rgb(85, 95, 105);
}
.sidebar
{
    overflow: hidden;
    height: 100%;
    width: 100px;
    display: inline-block;
    position: fixed;
}
.pagelinks
{
    float: left;
    padding: 0px 15px 0px 25px;
    display: block;
    text-align: center;
    color: black;
    font-size: larger;
}
.pagelinks a:link
{
    text-decoration: none;
    color:black;
}
.pagelinks a:visited
{
    color: black;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.mainwrapper
{
    margin: auto;
}
body
{
    background-color: rgb(130, 150, 172);
}
main 
{
    margin: 0 auto;
    width: 1060px;
    /* padding: 50px; */
}