*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header
{
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    padding: 50px 0px;
    background-color: beige;
    color:#5c6772;
}
.linkbar
{
    padding: 35px 0px;
    background-color:bisque;
}
.sidebar
{
    margin: 20px 30px 0px 200px;
    width: 300px;
    display: inline-block;
}
.mainwrapper
{
    margin: auto;

}
main 
{
    border-style: groove;
    border-color: #cd5c5c;
    border-width: thick;
    min-width: 80vh;
    display: inline-block;
    /* padding: 50px; */
}