*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main 
{
    margin: 0 auto;
    border-style: groove;
    border-color: #cd5c5c;
    border-width: thick;
    height: 500px;
    width: 810px;
    /* padding: 50px; */
}
.main
{
    
}
.mini
{

}
.movebutton
{
    padding: 25px 50px;
    display: inline-block;
}