
main 
{
    width:450px;
    margin: 132px 0px 0px 600px;
}

.Card
{
    margin: auto;
    margin-bottom: 15px;
    display: block;
    border-style: groove;
    border-color: #222950;
    background-color: rgb(116, 143, 173);
    border-width: thick;
    border-radius: 15px;
    width: 400px;
}
.CardText
{
    padding: 10px 5px;
    overflow: hidden;

}
img
{
    border-radius: 15px;
    width: 390px;
}
p
{
    width: 300px;
    background-color: #6b81a3;
    border-radius: 30px;
    padding: 10px;
}
h2
{
    text-align: center;
    margin-bottom: 10px;
    background:radial-gradient(rgb(133 161 189), rgb(70, 106, 148));
    border-radius: 30px;
}